{% load wagtailimages_tags %}
{% image self.image fill-200x200 as image %}

<div class="{% if layout == 'three-column' %}col-md-4{% else %}col-md-6{% endif %}">
    <div class="feature {% if layout == 'three-column' %}feature-8{% else %}feature-9{% endif %}">
        {% if image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        {% endif %}
        <{{ title_size }}>
            {% if self.link %}<a href="{{ self.link.url }}">{% endif %}
                {{ self.name }}
            {% if self.link %}</a>{% endif %}
        </{{ title_size }}>
        {% if self.title %}
            <span>{{ self.title }}</span>
        {% endif %}
    </div>
</div>
