{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section class="{{ self.text.alignment }} {{ self.layout }} {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
    {% include_block self.background %}
    <div class="container {{ self.background.size_mode }}">
        <div class="row">
            {% for block in self.items %}
                {% include_block block with layout=self.layout overlay=self.image_overlay cols=self.columns invert=self.image_invert heading_size=self.heading_size body_size=self.body_size%}
            {% endfor %}
        </div>
    </div>
</section>

