{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section class="{{ self.text.alignment }} {{ self.layout }} {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
    {% include_block self.background %}

    <div class="main-container">
        {% if self.slider_size == 'full' %}
            <div class="container {{ self.background.size_mode }}">
                <div class="row">
                    <div class="col">
                        <div class="slider" data-arrows="{{ self.arrows }}" data-paging="{{ self.paging }}" {% if self.speed %} data-timing="{{ self.speed }}" data-autoplay="true" {% endif %}>
                            <ul class="slides list-unstyled">
                                {% for block in self.items %}
                                    {% include_block block with size=self.slider_size %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% elif self.slider_size == 'inline' %}
            <div class="container {{ self.background.size_mode }}">
                <div class="row">
                    <div class="col">
                        <div class="slider slider--columns" data-arrows="{{ self.arrows }}" data-paging="{{ self.paging }}" {% if self.speed %} data-timing="{{ self.speed }}" data-autoplay="true" {% endif %}>
                            <ul class="slides list-unstyled">
                            {% for block in self.items %}
                                {% include_block block with size=self.slider_size %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% elif self.slider_size == 'logo' %}
                <div class="container">
                    <div class="row">
                        <div class="col">
{#                        slider--inline-arrows slider--arrows-hover#}
                            <div class="slider text-center" data-arrows="{{ self.arrows }}" data-paging="{{ self.paging }}" {% if self.speed %} data-timing="{{ self.speed }}" data-autoplay="true" {% endif %}>
                                <ul class="slides list-unstyled">
                                    {% for block in self.items %}
                                        {% include_block block with size=self.slider_size %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>
</section>

