{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.image original as image %}

{% if layout == 'none' %}
<div class="col-md-4">
    <div class="feature">
        <img src="{{ image.url }}" alt="{{ image.alt }}" class="border--round">
        <h4>{{ self.header }}</h4>
        <p>{{ self.text }}</p>
        {% include_block self.link %}
    </div>
</div>
{% endif %}

{% if layout == 'dark' %}
<div class="col-md-4">
    <div class="feature feature-1">
        <img src="{{ image.url }}" alt="{{ image.alt }}">
        <div class="feature__body boxed boxed--border">
            <h5>{{ self.header }}</h5>
            <p> {{ self.text }} </p>
            {% include_block self.link %}
        </div>
    </div>
</div>
{% endif %}

{% if layout == 'border' %}
<div class="col-md-4">
    <div class="feature feature-1">
        <img src="{{ image.url }}" alt="{{ image.alt }}">
        <div class="feature__body boxed boxed--lg boxed--border">
            <h3>{{ self.header }}</h3>
            <p class="lead">{{ self.text }}</p>
            {% include_block self.link %}
        </div>
    </div>
</div>
{% endif %}


