{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.image fill-540x320 as image %}

{% if layout == 'bordered' %}
{#    {% if cols == 'col-md-6 col-sm-12' %}{# 2 #}
{#        {% image self.image fill-540x420 as image %}#}
{#    {% elif cols == 'col-md-4 col-sm-12' %}{# 3 #}
{#        {% image self.image fill-350x272 as image %}#}
{#    {% else %}{# 4 #}
{#        {% image self.image fill-255x198 as image %}#}
{#    {% endif %}#}
    <div class="{{ cols }}{% if offset and cols == 'col-lg-2 col-md-6 col-xs-12' %} offset-lg-1{% endif %}">
        <div class="feature feature-1 {{ item_alignment }}">
            <img src="{{ image.url }}" alt="{{ image.alt }}">
            <div class="feature__body boxed boxed--border bg--white">
                <{{ heading_size }}>{{ self.header }}</{{ heading_size }}>
                {% if self.text %}<p class="{{ body_size }}"> {{ self.text }} </p>{% endif %}
                {% include_block self.link %}
            </div>
        </div>
    </div>
{% elif layout == 'overlay' %}
{#    {% if cols == 'col-md-6 col-sm-12' %}{# 2 #}
{#        {% image self.image fill-540x420 as image %}#}
{#    {% elif cols == 'col-md-4 col-sm-12' %}{# 3 #}
{#        {% image self.image fill-350x420 as image %}#}
{#    {% else %}{# 4 #}
{#        {% image self.image fill-255x420 as image %}#}
{#    {% endif %}#}
    <div class="{{ cols }}">
        <div class="feature large-overlay text-center imagebg d-flex align-items-center justify-content-center {{ item_alignment }} {{ invert }}" data-overlay="{{ overlay }}">
            <div class="background-image-holder">
                <img alt="{{ image.alt }}" src="{{ image.url }}">
            </div>
            <div>
                <{{heading_size}} class="pos-vertical-center {% if invert %}text-dark{% endif %}">{{ self.header }}</{{heading_size}}>
                {% if self.text %}
                <p class="{{ body_size }} pos-vertical-center {% if invert %}text-dark{% endif %}"> {{ self.text }} </p>
                {% endif %}
                <a href="{{ self.link.href_prefix }}{{ self.link.href }}" class="{{ self.link.link_format }}">
                    {% if self.link.link_format == '' %}
                        <span class='pos-vertical-center'>{{ self.link.link_text }}</span>
                    {% else %}
                        <span class='btn__text'>{{ self.link.link_text }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% else %}
{#    {% if cols == 'col-md-6 col-sm-12' %}{# 2 #}
{#        {% image self.image fill-540x420 as image %}#}
{#    {% elif cols == 'col-md-4 col-sm-12' %}{# 3 #}
{#        {% image self.image fill-350x272 as image %}#}
{#    {% else %}{# 4 #}
{#        {% image self.image fill-255x198 as image %}#}
{#    {% endif %}#}
    <div class="{{ cols }}">
        <div class="feature {{item_alignment}}">
            <img src="{{ image.url }}" alt="{{ image.alt }}">
            <{{ heading_size }}>{{ self.header }}</{{ heading_size }}>
            {% if self.text %}<p class="{{ body_size }}">{{ self.text }}</p>{% endif %}
            {% include_block self.link %}
        </div>
    </div>
{% endif %}