{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.image original as image %}

{% if layout == 'bordered' %}
    <div class="{{ cols }}">
        <div class="feature feature-1">
            <img src="{{ image.url }}" alt="{{ image.alt }}">
            <div class="feature__body boxed boxed--border">
                <{{ heading_size }}>{{ self.header }}</{{ heading_size }}>
                {% if self.text %}<p class="{{ body_size }}"> {{ self.text }} </p>{% endif %}
                {% include_block self.link %}
            </div>
        </div>
    </div>
{% elif layout == 'overlay' %}
    <div class="{{ cols }}">
        <div class="feature large-overlay text-center imagebg d-flex align-items-center justify-content-center {{ invert }}" data-overlay="{{ overlay }}">
            <div class="background-image-holder">
                <img alt="{{ image.alt }}" src="{{ image.url }}">
            </div>
            <div>
                <{{heading_size}} class="pos-vertical-center {% if invert %}text-dark{% endif %}">{{ self.header }}</{{heading_size}}>
                {% if self.text %}
                <p class="{{ body_size }} pos-vertical-center {% if invert %}text-dark{% endif %}"> {{ self.text }} </p>
                {% endif %}
                <a href="{{ self.link.href_prefix }}{{ self.link.href }}" class="{{ self.link.link_format }}">
                    {% if self.link.link_format == '' %}
                        <span class='pos-vertical-center'>{{ self.link.link_text }}</span>
                    {% else %}
                        <span class='btn__text'>{{ self.link.link_text }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="{{ cols }}">
        <div class="feature">
            <img src="{{ image.url }}" alt="{{ image.alt }}">
            <{{ heading_size }}>{{ self.header }}</{{ heading_size }}>
            {% if self.text %}<p class="{{ body_size }}">{{ self.text }}</p>{% endif %}
            {% include_block self.link %}
        </div>
    </div>
{% endif %}