{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if size == 'full' %}
    {% image self.image fill-1110x740 as image %}
    <li>
        <img alt="{{ image.alt }}" src="{{ image.url }}">
    </li>
{% elif size == 'inline' %}
    {% image self.image fill-350x272 as image %}
    <li class="col-md-4 col-6">
        <img alt="{{ image.alt }}" src="{{ image.url }}">
    </li>
{% else %}
{#LOGO#}
    {% image self.image original as image %}
    <li class="col-md-3 col-6">
        <img alt="{{ image.alt }}" class="image--xxs" src="{{ image.url }}">
    </li>
{% endif %}
