{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.image original as image %}

{% if size == 'full' %}
    <li> <img alt="{{ image.alt }}" src="{{ image.url }}"> </li>
{% endif %}


{% if size == 'inline' %}
    <li class="col-md-4 col-6">
        <a href="{{ image.url }}" data-lightbox="Gallery 1"> <img alt="{{ image.alt }}" src="{{ image.url }}"> </a>
    </li>
{% endif %}

{% if size == 'logo' %}
    <li class="col-md-3 col-6">
        <img alt="{{ image.alt }}" class="image--xxs" src="{{ image.url }}">
    </li>

{% endif %}
