{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.media.image original as image %}
{% image self.small_image original as small_image %}

{% if self.layout == 'fixed' %}
    <section class="{{ self.text.alignment }} {{ self.switchable }} {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
        {% include_block self.background %}
        <div class="container {{ self.background.size_mode }}">
            <div class="row justify-content-around {{ self.vertical_alignment }}">
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        {% include_block self.text %}
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    {% include_block self.media with width=self.layout %}
                </div>
            </div>
        </div>
    </section>
{% elif self.layout == 'full' %}
    <section class="imageblock {{ self.switchable }} {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
        <div class="imageblock__content col-lg-6 col-md-4 pos-right" style="z-index:3;">
            {% include_block self.media with width=self.layout %}
        </div>
        {% include_block self.background %}
        <div class="container {{ self.background.size_mode }}" style="z-index:2;">
            <div class="row {{ self.text.alignment }}">
                <div class="col-lg-5 col-md-7">
                    {% include_block self.text %}
                </div>
            </div>
        </div>
    </section>
{% elif self.layout == 'three_column'%}
     <section class="feature-large feature-large-2 {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
        {% include_block self.background %}
        <div class="container">
            <div class="row justify-content-between {{ self.vertical_alignment }}">
                <div class="col-md-5 imageblock__content" style="min-height: 289px">
                    {% include_block self.media with width=self.layout %}
                </div>
{#                <div class="col-md-1"></div>#}
                <div class="col-md-4 three-column-copy">
                    {% include_block self.text %}
                </div>
{#                <div class="col-md-1"></div>#}
                <div class="col-md-2 three-column-image">
                    <img alt="Image" src="{{ small_image.url }}" style="max-width: 158px">
                </div>
            </div>
        </div>
    </section>
{% endif %}


