{% load wagtailimages_tags %}

{% for person in people %}
    <div class="{% if layout == 'three-column' %}col-md-4{% else %}col-md-6{% endif %}">
        <div class="feature {% if layout == 'three-column' %}feature-8{% else %}feature-9{% endif %}">
            {% if person.photo %}
                {% image person.photo fill-200x200 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}">
            {% endif %}
            <{{ title_size }}>
                <a href="/bios/{{ person.get_url_slug }}">
                    {{ person.first_name }} {{ person.last_name }}
                </a>
            </{{ title_size }}>
            {% if person.title %}
                <span>{{ person.title }}</span>
            {% endif %}
        </div>
    </div>
{% endfor %}