{% load wagtailcore_tags app_tags %}
{% get_recent_blogs page as blogs %}
{% if blogs %}
    <section>
        <div class="container">
            <h2 class="text-center">Recent Blog Articles</h2>
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-4">
                        <div class="feature">
                            <a href="{{ blog.get_url }}"><img src="{{ blog.image.file.url }}" alt="{{ blog.image.title }}" class="border--round"></a>
                            <div class="pt-3 pl-2 pr-2">
                                <div>{{ blog.date|date:'F jS, Y' }}</div>
                                <h4><a href="{{ blog.get_url }}">{{ blog.title }}</a></h4>
                                <p>{{ blog.excerpt }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}