{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image self.image width-445 as image %}
<section class="space--sm unpad--bottom text-center testimonial testimonial-1 {{ self.layout }} {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
    {% include_block self.background %}
    <div class="container {{ self.background.size_mode }}">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="{{ image.url }}" alt="{{ image.alt }}">
            </div>
            <div class="col-md-6">
                <div class="switchable__text">
                    <blockquote>{{ self.quote }}</blockquote>
                    <h5>{{ self.name }}</h5>
                    <span>{{ self.title }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
