{% load wagtailcore_tags app_tags %}
{% webinar_list as webinars %}

<section class="text-center {{ self.background.classes }}" {{ self.background.data_image_overlay }}>
    {% include_block self.background %}
    <div class="container {{ self.background.size_mode }}">
        <div class="row d-flex align-items-center">
            {% for webinar in webinars %}
                <div class="col-sm-4 hex-webinar-teaser views-row">
                    <div class="views-field views-field-field-article-square-image hex-teaser-image">
                        <div class="field-content">
                            {% image webinar.image fill-200x230 %}
                        </div>
                    </div>
                    <div class="views-field views-field-field-tags hex-teaser-badge">
                        <div class="field-content">
                            <a href="{{ webinar.get_index }}">Webinars</a>
                        </div>
                    </div>
                    <div class="views-field views-field-created hex-teaser-text">
                        <span class="field-content">
                            <a href="{{  webinar.get_full_url }}">
                                <span class="news-container">
                                    <span class="news-date">{{ webinar.date }}</span>
                                    <h3>{{ webinar.title }}</h3>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-5">
            <a href="{{ webinars.0.get_index }}" class="btn btn-primary">More Webinars</a>
        </div>
    </div>
</section>
