{% load wagtailcore_tags sitesettings %}
<div>
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                    <a href="/"> <img class="logo" alt="logo" src="{{ logo_url }}"></a>
                </div>
                <div class="col-9 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <nav id="menu1" class="bar bar-1 hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2 hidden-xs">
                    <div class="bar__module">
                        <a href="/"> <img class="logo" alt="logo" src="{{ logo_url }}"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 text-right text-left-xs text-left-sm" style="margin-bottom: auto; margin-top: auto;">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            {% if autonav %}
                                {% for link in header_links %}
                                    {% if link.show_dropdown %}
                                        <li class="dropdown"><a href="{{ link.destination }}"><span class="dropdown__trigger">{{ link.title }}</span></a>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-md-2">
                                                            <ul class="menu-vertical">
                                                                {% for child in link.children %}
                                                                    <li><a href="{{ child.destination }}">{{ child.title }}</a> </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ link.destination }}">{{ link.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for block in header_links %}
                                    {% include_block block.value.link %}
                                {% endfor %}
                            {% endif %}
                            {% render_search_button %}
                        </ul>
                    </div>
                    {% if header_buttons %}
                    <div class="bar__module">
                        {% for block in header_buttons %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
