{% load wagtailcore_tags wagtailimages_tags %}
<section class=" space--sm space--sm switchable switchable--switch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="height-50  border--round space--sm {% if bg_img %}imagebg image--light{% endif %}" data-overlay="6">

                    {% if bg_img %}
                        {% image bg_img original as image %}

                        <div class="background-image-holder" style="background: url(&quot;{{ image.url }}&quot;); opacity: 1;">
                            <img src="{{ image.url }}" alt="{{ image.alt }} (background)">
                        </div>
                    {% endif %}
                    <div class="pos-vertical-center col-md-12 boxed boxed--lg bg--none">

                        <h2>{{ event.title }}</h2>
                        <h5>{{ event.event_type }}</h5>
                        <h4>
                            {{ event.start_datetime|date:'g:i A' }} - {{ event.get_end_datetime|date:'g:i A' }}<br>
                            {% if event.location_type == 'online' %}Online{% else %}
                            {{ event.address_city }}, {{ event.address_state }}
                            {% endif %}
                        </h4>
                        <p>{{ event.description|striptags|truncatechars:300 }}</p>

                        <a href="{{ event.get_url }}" class="btn btn--primary">
                            <span class="btn__text">Register for Event</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>