{% load wagtailcore_tags %}
<footer class="text-center space--sm footer-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-block">
                    <ul class="list-inline list--hover">
                        {% if footer_links %}
                            {% for block in footer_links %}
                                {% include_block block %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul class="social-list list-inline list--hover">
                        {% if social_linkedin %}
                        <li><a href="{{ social_linkedin }}"><i class="socicon socicon-linkedin icon icon--xs"></i></a></li>
                        {% endif %}
                        {% if social_twitter %}
                            <li><a href="{{ social_twitter }}"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                        {% endif %}
                        {% if social_facebook %}
                            <li><a href="{{ social_facebook }}"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                        {% endif %}
                        {% if social_instagram %}
                            <li><a href="{{ social_instagram }}"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                        {% endif %}
                        {% if social_youtube %}
                            <li><a href="{{ social_youtube }}"><i class="socicon socicon-youtube icon icon--xs"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div><span class="type--fine-print"> {{ tagline }} </span></div>
                <span class="type--fine-print">© <span class="update-year"></span> {{ copyright_text }}</span>
            </div>
        </div>
    </div>
</footer>>