<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h2>Create a Stack account</h2>
                <p class="lead">Get started with a 14 day free trial, No credit card required — cancel at any time.</p>
                <form action="/resources/events/registered" method="POST" >
                    <input type="hidden" name="Email Address" placeholder="Email Address">
                    <div class="row">
                        <div class="col-12">
                            <input type="email" name="Email Address" placeholder="Email Address">
                        </div>
                        <div class="col-12">
                            <input type="password" name="Password" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                        </div>
                        <div class="col-12">
                            <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{#	event = models.ForeignKey(Event,on_delete=models.PROTECT, null=True, blank=True, related_name='registered_event')#}
{#	first_name = models.CharField(max_length=255, default='', verbose_name='First Name')#}
{#	last_name = models.CharField(max_length=255, default='', verbose_name='Last Name')#}
{#	company = models.CharField(max_length=255, default='', verbose_name='Company')#}
{#	email = models.EmailField()#}
{#	phone = models.CharField(max_length=16, default='', verbose_name='Phone')#}
{#	address1 = models.CharField(max_length=255, default='', null=True, blank=True, verbose_name='Address Line 1')#}
{#	address2 = models.CharField(max_length=255, default='', null=True, blank=True, verbose_name='Address Line 2')#}
{#	city = models.CharField(max_length=255, default='', null=True, blank=True, verbose_name='City')#}
{#	state = models.CharField(max_length=16, default='', null=True, blank=True, verbose_name='State')#}
{#	postalcode = models.CharField(max_length=16, default='', verbose_name='Postal Code')#}
