{% include 'includes/gtm_script.html' %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:description" content="{{ og_description }}" />
<meta name="twitter:card" value="{{ og_description }}" />
<meta property="og:type" content="{{ og_type }}" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}<meta property="og:image" content="{{ og_image }}" />{% endif %}
{% if fav_icon %}<link rel="icon" href="{{ fav_icon }}">{% endif %}
{% if apple_touch_icon %}<link rel="apple-touch-icon" href="{{ apple_touch_icon }}">{% endif %}
{% if pwa_use_manifest %}<link rel="manifest" href="pwa_manifest.json">{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ canonical_url }}" />