{% load wagtailcore_tags security %}
<section class="">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="{{ self.form_width }} {{ self.alignment }}">
                <div>
                {% if self.heading %}
                    <{{ self.heading_size }}>{{ self.heading }}</{{ self.heading_size }}>
                {% endif %}
                {% if self.body %}
                    {{ self.body }}
                {% endif %}
                </div>
                <div role="form">

                    <form action="{% get_setting 'LEAD_GEN_FORM_URL' %}" method="POST">
                        <div class="hidden ui-helper-hidden ">

                            <input type=hidden name="oid" value="{% get_setting 'LEAD_GEN_FORM_OID' %}">
                            <input type=hidden name="retURL" value="{{ site_url}}/thank-you/">
                            <input type=hidden id="lead_source" name="lead_source" value="Website">
                            <input type=hidden name="Lead_Source_Category__c" id="Lead_Source_Category__c" value="BenefitMall.com">
                            <input type=hidden name="description" id="description" value="{{ canonical_url }}">
                            <input type=hidden name="recordType" id="recordType" value="012G0000000qekx">
                            <input type=hidden name="Web2Lead_Created__c" id="Web2Lead_Created__c" value="true">
                        </div>
                                <!--  ----------------------------------------------------------------------  -->
                                <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                                <!--  these lines if you wish to test in debug mode.                          -->
                                <!--  <input type="hidden" name="debug" value=1>                              -->
                                <!--  <input type="hidden" name="debugEmail"                                  -->
                                <!--  value="praveen.meka@benefitmall.com">                                   -->
                                <!--  ----------------------------------------------------------------------  -->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="first_name" class="hidden">First Name</label>
                                <input placeholder="First Name" aria-label="First Name" id="first_name" maxlength="40" name="first_name" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="last_name" class="hidden">Last Name</label>
                                <input placeholder="Last Name" aria-label="Last Name" id="last_name" maxlength="80" name="last_name" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="company" class="hidden">Company</label>
                                <input placeholder="Company" aria-label="Company" id="company" maxlength="40" name="company" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="phone" class="hidden">Phone</label>
                                <input placeholder="Phone" aria-label="Phone" id="phone" maxlength="40" name="phone" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email" class="hidden">Email</label>
                                <input placeholder="Email" aria-label="Email" id="email" maxlength="80" name="email" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="zip" class="hidden">Zip</label>
                                <input placeholder="Zip" aria-label="Zip" id="zip" maxlength="20" name="zip" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" name="submit" class="btn btn--primary">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
