{% load wagtailcore_tags %}
<section class="">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="{{ self.form_width }} {{ self.alignment }}">
                <div>
                {% if self.heading %}
                    <{{ self.heading_size }}>{{ self.heading }}</{{ self.heading_size }}>
                {% endif %}
                {% if self.body %}
                    {{ self.body }}
                {% endif %}
                </div>
                <div role="form">

                    <form action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                        <div style="display: none;">

                            <input type=hidden name="oid" value="00Dc0000003wW7y">
{#                            TODO - GET URL TO RETURN TO ON FORMS#}
                            <input type=hidden name="retURL" value="http://www.benefitmall.com">
                            <input type=hidden id="lead_source" name="lead_source" value="Website">
                            <input type=hidden name="Lead_Source_Category__c" id="Lead_Source_Category__c" value="BenefitMall.com">
                            <input type=hidden name="description" id="description" value="From Contact Us form...">
                            <input type=hidden id="ownerId" name="ownerId" value="00Gc0000004I4ZuEAK">
                            <input type=hidden name="recordType" id="recordType" value="012G0000000qekx">
                        </div>
                                <!--  ----------------------------------------------------------------------  -->
                                <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                                <!--  these lines if you wish to test in debug mode.                          -->
                                <!--  <input type="hidden" name="debug" value=1>                              -->
                                <!--  <input type="hidden" name="debugEmail"                                  -->
                                <!--  value="praveen.meka@benefitmall.com">                                   -->
                                <!--  ----------------------------------------------------------------------  -->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="first_name">First Name</label>
                                <input placeholder="First Name" id="first_name" maxlength="40" name="first_name" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="last_name">Last Name</label>
                                <input placeholder="Last Name" id="last_name" maxlength="80" name="last_name" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="company">Company</label>
                                <input placeholder="Company" id="company" maxlength="40" name="company" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="phone">Phone</label>
                                <input placeholder="Phone" id="phone" maxlength="40" name="phone" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email</label><input placeholder="Email" id="email" maxlength="80" name="email" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="zip">Zip</label>
                                <input placeholder="Zip" id="zip" maxlength="20" name="zip" size="20" type="text" class="form-control" /><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" name="submit">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
