{% extends 'base.html' %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

{% block content %}
    <section class="space--xxs">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <article style="margin-bottom: 20px;">
                        <div class="article__title">
                            <h1 class="h2">{{ page.title }}</h1>
                            {% if page.author %}<div class="type--bold">by {{ page.author }}</div>{% endif %}
                            <div>
                                {{ page.date|date:'F jS, Y' }}
                                {% if page.categories.all %} in
                                    {% for category in page.categories.all %}
                                        <a class="type--bold" href="{% pageurl page.get_blog_index_page %}?category={{ category.slug }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="article__body">
                            {% image page.image original as image %}
                            <img src="{{ image.url }}" alt="{{ image.alt }}">
                            {% for block in page.body %}
                                {% include_block block %}
                            {% endfor %}
                            {% if page.tags.all %}
                                <div class="type--bold">Tags:
                                    {% for tag in page.tags.all %}
                                        <a class="type--bold" href="{% pageurl page.get_blog_index_page %}?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="text-center">
                            <a class="btn" href="{{ page.get_parent.url }}">
                                <span class="btn__text">&laquo; Back</span>
                            </a>
                        </div>
                    </article>
                </div>
                <div class="text-center">
                    <a class="btn bg--facebook btn--icon popup" href="https://www.facebook.com/sharer/sharer.php?u={{ page.get_site.root_url }}{{ page.get_url }}">
                        <span class="btn__text"><i class="socicon socicon-facebook"></i>SHARE ON FACEBOOK</span>
                    </a>
                    <a class="btn bg--twitter btn--icon popup" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.get_site.root_url }}{{ page.get_url }}">
                        <span class="btn__text"><i class="socicon socicon-twitter"></i>SHARE ON TWITTER</span>
                    </a>
                    <a class="btn bg--linkedin btn--icon popup" href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.get_site.root_url }}{{ page.get_url }}">
                        <span class="btn__text"><i class="socicon socicon-linkedin"></i>SHARE ON LINKEDIN</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    {% for block in page.body_below %}
        {% include_block block %}
    {% endfor %}
{% endblock %}