{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="space--xxs bg--secondary carrier-header">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {% if carrier.logo_url %}<img src="{{ carrier.logo_url }}"/>{% endif %}
{#                    <div><a href="{{ carrier.website_url }}">{{ carrier.name }} Website</a></div>#}
                    <h1>Insurance Products by State</h1>
                    <p class="lead">Broker products to meet your diverse client needs.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="space--xxs carrier-description">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    {{ carrier.description|safe }}
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="carrier-rating boxed boxed--border text-center bg--primary-3">
                        <h4>Rating</h4>
                        <p class="h1">{{ carrier.rating_classification }}</p>
                        <p><span class="lead">{{ carrier.rating_description }}</span></br>
                            {{ carrier.rating_company_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if carrier.products|length > 0 %}
        <section class="space--xxs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-select">
                            <select id="state_select">
                                <option selected class="hidden" value="">Select State</option>
                                {% for item in carrier.available_states %}
                                    <option class="filter-{{ item }}" value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-9 filter-bubbles"></div>
                </div>
            </div>
        </section>
        <section class="space--xxs carrier-products visible-xs visible-sm carrier-products-mobile">
            <div class="container">
                <ul class="accordion accordion-2 carrier-accordion mobile-accordion">
                {% for product in carrier.products|dictsort:"order" %}
                    <li class="carrier-product">
                        <div class="row accordion__title">
                            <div class="col-12"><h4 class="type--bold">{{ product.name }}</h4></div>
                        </div>

                        <div class="row accordion__content">
                            <ul class="col-12 accordion accordion-2 carrier-accordion inner-accordion">
                                <li class="carrier-insurance-group">
                                    {# SMALL GROUP #}
                                    <div class="row accordion__title">
                                        <div class="col-10"><h4 class="type--bold">Small Group</h4></div>
                                        <div class="col-2 text-center align-middle">
                                            {% if product.small_group.states|length > 0 %}
                                                <i class="icon icon-Yes icon--sm color--primary"></i>
                                            {% else %}
                                                <i class="icon icon-Close icon--sm"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row accordion__content">
                                        <div class="col-12">
                                            <ul>
                                                {% if product.small_group.states|length > 0 %}
                                                    {% for state in product.small_group.states %}
                                                       <li>{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>None</li>
                                                {% endif %}
                                            </ul>
                                            {% if product.small_group.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li class="carrier-insurance-group">
                                    {# LARGE GROUP #}
                                    <div class="row accordion__title">
                                        <div class="col-10"><h4 class="type--bold">Large Group</h4></div>
                                        <div class="col-2 text-center align-middle">
                                            {% if product.large_group.states|length > 0 %}
                                                <i class="icon icon-Yes icon--sm color--primary"></i>
                                            {% else %}
                                                <i class="icon icon-Close icon--sm"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row accordion__content">
                                        <div class="col-12">
                                            <ul>
                                                {% if product.large_group.states|length > 0 %}
                                                    {% for state in product.large_group.states %}
                                                       <li>{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>None</li>
                                                {% endif %}
                                            </ul>
                                            {% if product.large_group.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li class="carrier-insurance-group">
                                    {# SELF-FUNDED #}
                                    <div class="row accordion__title">
                                        <div class="col-10"><h4 class="type--bold">Self-Funded</h4></div>
                                        <div class="col-2 text-center align-middle">
                                            {% if product.self_funded.states|length > 0 %}
                                                <i class="icon icon-Yes icon--sm color--primary"></i>
                                            {% else %}
                                                <i class="icon icon-Close icon--sm"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row accordion__content">
                                        <div class="col-12">
                                            <ul>
                                                {% if product.self_funded.states|length > 0 %}
                                                    {% for state in product.self_funded.states %}
                                                       <li>{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>None</li>
                                                {% endif %}
                                            </ul>
                                            {% if product.self_funded.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li class="carrier-insurance-group">
                                    {# INDIVIDUAL GROUP #}
                                    <div class="row accordion__title">
                                        <div class="col-10"><h4 class="type--bold">Individual</h4></div>
                                        <div class="col-2 text-center align-middle">
                                            {% if product.individual.states|length > 0 %}
                                                <i class="icon icon-Yes icon--sm color--primary"></i>
                                            {% else %}
                                                <i class="icon icon-Close icon--sm"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row accordion__content">
                                        <div class="col-12">
                                            <ul>
                                                {% if product.individual.states|length > 0 %}
                                                    {% for state in product.individual.states %}
                                                       <li>{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>None</li>
                                                {% endif %}
                                            </ul>
                                            {% if product.individual.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    {# SENIOR GROUP #}
                                    <div class="row accordion__title">
                                        <div class="col-10"><h4 class="type--bold">Senior</h4></div>
                                        <div class="col-2 text-center align-middle">
                                            {% if product.senior.states|length > 0 %}
                                                <i class="icon icon-Yes icon--sm color--primary"></i>
                                            {% else %}
                                                <i class="icon icon-Close icon--sm"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row accordion__content">
                                        <div class="col-12">
                                            <ul>
                                                {% if product.senior.states|length > 0 %}
                                                    {% for state in product.senior.states %}
                                                       <li>{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>None</li>
                                                {% endif %}
                                            </ul>
                                            {% if product.senior.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
        <section class="space--xxs carrier-products visible-md visible-lg carrier-products-desktop">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><h4>Small Group</h4></div>
                    <div class="col-md-2"><h4>Large Group</h4></div>
                    <div class="col-md-2"><h4>Self-Funded</h4></div>
                    <div class="col-md-2"><h4>Individual</h4></div>
                    <div class="col-md-2"><h4>Senior</h4></div>
                </div>
                <ul class="accordion accordion-2 carrier-accordion">
                {% for product in carrier.products|dictsort:"order" %}
                    <li class="carrier-product">
                        <div class="row accordion__title {% cycle '' 'bg--secondary' %}">
                            <div class="col-md-2"><h4 class="type--bold">{{ product.name }}</h4></div>
                            <div class="col-md-2 text-center align-middle">
                                {% if product.small_group.states|length > 0 %}
                                    <i class="icon icon-Yes icon--sm color--primary"></i>
                                {% else %}
                                    <i class="icon icon-Close icon--sm"></i>
                                {% endif %}
{#                                <img src="{% static 'images/icon-N-A@2x.png' %}" width="33px" height="33px"/>#}
                            </div>
                            <div class="col-md-2 text-center align-middle">
                                {% if product.large_group.states|length > 0 %}
                                    <i class="icon icon-Yes icon--sm color--primary"></i>
                                {% else %}
                                    <i class="icon icon-Close icon--sm"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-2 text-center align-middle">
                                {% if product.self_funded.states|length > 0 %}
                                    <i class="icon icon-Yes icon--sm color--primary"></i>
                                {% else %}
                                    <i class="icon icon-Close icon--sm"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-2 text-center align-middle">
                                {% if product.individual.states|length > 0 %}
                                    <i class="icon icon-Yes icon--sm color--primary"></i>
                                {% else %}
                                    <i class="icon icon-Close icon--sm"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-2 text-center align-middle">
                                {% if product.senior.states|length > 0 %}
                                    <i class="icon icon-Yes icon--sm color--primary"></i>
                                {% else %}
                                    <i class="icon icon-Close icon--sm"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row accordion__content bg--secondary carrier-product-list">
                            <div class="col-md-2 offset-md-2" data-states="{{ product.small_group.states_list }}">
                                <div class="">
                                    <ul>
                                        {% if product.small_group.states|length > 0 %}
                                            {% for state in product.small_group.states %}
                                               <li class="state-item" data-state="{{ state.name }}">{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                            {% endfor %}
                                            <li class="state-item" data-state="None" class="hidden">None</li>
                                        {% else %}
                                            <li class="state-item" data-state="None">None</li>
                                        {% endif %}
                                    </ul>
                                    {% if product.small_group.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2" data-states="{{ product.large_group.states_list }}">
                                <div class="">
                                    <ul>
                                        {% if product.large_group.states|length > 0 %}
                                            {% for state in product.large_group.states %}
                                                <li class="state-item" data-state="{{ state.name }}">{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                            {% endfor %}
                                            <li class="state-item" data-state="None" class="hidden">None</li>
                                        {% else %}
                                            <li class="state-item" data-state="None">None</li>
                                        {% endif %}
                                    </ul>
                                    {% if product.large_group.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2" data-states="{{ product.self_funded.states_list }}">
                                <div class="">
                                    <ul>
                                        {% if product.self_funded.states|length > 0 %}
                                            {% for state in product.self_funded.states %}
                                               <li class="state-item" data-state="{{ state.name }}">{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                            {% endfor %}
                                            <li class="state-item" data-state="None" class="hidden">None</li>
                                        {% else %}
                                            <li class="state-item" data-state="None">None</li>
                                        {% endif %}
                                    </ul>
                                    {% if product.self_funded.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2" data-states="{{ product.individual.states_list }}">
                                <div class="">
                                    <ul>
                                        {% if product.individual.states|length > 0 %}
                                            {% for state in product.individual.states %}
                                               <li class="state-item" data-state="{{ state.name }}">{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                            {% endfor %}
                                            <li class="state-item" data-state="None" class="hidden">None</li>
                                        {% else %}
                                            <li class="state-item" data-state="None">None</li>
                                        {% endif %}
                                    </ul>
                                    {% if product.individual.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2" data-states="{{ product.senior.states_list }}">
                                <div class="">
                                    <ul>
                                        {% if product.senior.states|length > 0 %}
                                            {% for state in product.senior.states %}
                                               <li class="state-item" data-state="{{ state.name }}">{{ state.name }}{% if state.quoting_available %}*{% endif %}</li>
                                            {% endfor %}
                                            <li class="state-item" data-state="None" class="hidden">None</li>
                                        {% else %}
                                            <li class="state-item" data-state="None">None</li>
                                        {% endif %}
                                    </ul>
                                    {% if product.senior.states|length > 0 %}<p class="type--fine-print">* Online quoting available</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    {% if carrier.additional_products|length > 0 %}
        <section class="space--xxs bg--secondary carrier-additional">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center"><h3>Additional Medical &amp; Non-Medical Products</h3></div>
                    <div class="col-12 text-center bg--white">
                        <ul>
                            {% for p in carrier.additional_products %}
                                <li>{{ p }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
                <div class="col-xs-6 col-md-2">
                    <div class="filter-pill">
                        <div class="filter-text">
                            ${value}
                        </div>
                    </div>
                </div>
    {% endif %}


{% endblock %}

{% block extra_js %}
    <script>
        var filter = []
        var lastSel = $("#my_select option:selected");
        var stateSelector = $("#state_select");

        stateSelector.change(function(){
            let selected = $(this).find(':selected');
            let value = selected.val();
            $('.filter-bubbles').append(`
            `)
            addFilter(value);
            selected.addClass('hidden');
            selected.prop('selected', false);
            lastSel.prop('selected', true);
        });

       stateSelector.click(function(){
            lastSel = $("#my_select option:selected");
        });

        function addFilter(state) {
            filter = filter.concat(state);
            filterCarrierProducts();
        }

        function filterCarrierProducts() {
            console.log("=======================================")
            if(!filter.length) {
                $('.carrier-products-desktop .state-item:not([data-state="None"])').removeClass("hidden");
                $('.carrier-products-desktop .carrier-product').removeClass('hidden');
            } else {
                // Hide everything, then show only the selected states
                $('.carrier-products-desktop .state-item').addClass("hidden");
                filter.forEach(function(item, index) {
                   $(`.carrier-products-desktop .state-item[data-state="${item}"]`).removeClass('hidden');
                });

                // For each product
                $('.carrier-products-desktop .carrier-product').each(function() {
                    let hide = true;

                    let dataIcons = $(this).find('.accordion__title i');
                    // For each data div
                    $(this).find('.accordion__content > div').each(function() {
                        let states = $(this).data('states') || [];

                        let dataDivIndex = $(this).index();

                        // For each state in the filter
                        filter.some(function(item, index) {
                            // If the data div has the state, don't hide the product
                            console.log(item, states);
                           if(states.indexOf(item) >= 0) {
                               hide = false;
                               // Set Icon to a check
                               dataIcons.eq(dataDivIndex).addClass('icon-Yes color--primary').removeClass('icon-Close');

                               // Break out of the loop
                               return true;

                           } else {
                               // The data div did not have any state, so show "None" in the data div
                               $(this).find('.state-item[data-state="None"]').removeClass("hidden");

                               // Change the data icon to an X
                               dataIcons.eq(dataDivIndex).removeClass('icon-Yes color--primary').addClass('icon-Close');
                           }
                        });
                    });
                    if(hide) {
                        $(this).addClass('hidden');
                    } else {
                        $(this).removeClass('hidden');
                    }
                });
            }
        }
        $(function() {
            filterCarrierProducts();
        })
    </script>
{% endblock %}