{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% if not past_events_route %}
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    {% endif %}

<style>
    .calendar {
        text-align: center;
        width: 185px;
        max-width: 185px;
        height: 170px;
        max-height: 170px;
        border: 1px solid gray;
        border-radius: 15px;
        background: #FF4D4D;
    }
    .calendar .month {
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
    .calendar .date {
        padding: 10px;
        margin: 0;
        background-color: white;
    }
    .calendar .date .weekday {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
        margin: 0 0 5px 0;

    }
    .calendar .date .day {
        font-size: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0 0 0 0;
    }
</style>

{% if featured_event %}
    <section class=" space--sm switchable switchable--switch">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="height-50  border--round space--sm {% if bg_img %}imagebg image--light{% endif %}" data-overlay="6">
                        {% if featured_event_bg %}
                            {% image featured_event_bg original as image %}
                            <div class="background-image-holder" style="background: url(&quot;{{ image.url }}&quot;); opacity: 1;">
                                <img src="{{ image.url }}" alt="{{ image.alt }} (background)">
                            </div>
                        {% endif %}
                        <div class="pos-vertical-center col-md-12 boxed boxed--lg bg--none">
                            <h2>{{ featured_event.title }}</h2>
                            <h5>{{ featured_event.event_type }}</h5>
                            <h4>
                                {{ featured_event.start_datetime|date:'g:i A' }} - {{ featured_event.get_end_datetime|date:'g:i A' }}<br>
                                {% if featured_event.location_type == 'online' %}Online{% else %}
                                {{ featured_event.address_city }}, {{ featured_event.address_state }}
                                {% endif %}
                            </h4>
                            <p>{{ featured_event.description|striptags|truncatechars:300 }}</p>
                            <a href="{{ featured_event.get_url }}" class="btn btn--primary">
                                <span class="btn__text">Register for Event</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if past_events_route %}
    <section class="text-center space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h1>Past Events</h1>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% for event in events %}
    {% if event.is_active or past_events_route %}
        <section class="space--sm {% if not forloop.counter|divisibleby:2 %} bg--secondary{% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="text-block">
                            <div class="calendar">
                                <div class="month">{{ event.start_datetime|date:'F' }}</div>
                                <div class="date">
                                    <div class="weekday">{{ event.start_datetime|date:'D' }}</div>
                                    <div class="day">{{ event.start_datetime|date:'j' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-block">
                            <h3><a href="{{ event.get_url }}">{{ event.title }}</a></h3>
                            <h5>{{ event.event_type }}</h5>
                            <br>
                            <h4>
                                {{ event.start_datetime|date:'g:i A' }} - {{ event.get_end_datetime|date:'g:i A' }} CT<br>
                                Location: {{ event.get_location_type_display }}
                            </h4>
                            <br>
                            <a href="{{ event.get_url }}" class="btn btn--sm btn--primary type--uppercase"><span class="btn__text">Register for Event</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block">
                            {{ event.description|richtext }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endfor %}

{% if events.paginator.num_pages > 1 %}
    <section class="space--xxs">
        <div class="container">
            <div class="pagination">
                {% if events.has_previous %}
                    <a style="float:none;" href="?page={{ events.previous_page_number }}" class="pagination__prev">« Prev</a>
                {% endif %}
                
                {% for page_num in events.paginator.page_range %}
                    <ol>
                        {% if page_num == events.number %}
                            <li class="pagination__current">{{ page_num }}</li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    </ol>
                {% endfor %}

                {% if events.has_next %}
                    <a style="float:none;" href="?page={{ events.next_page_number }}" class="pagination__next">Next »</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}
