{% extends "base.html" %}
{% load wagtailcore_tags app_tags %}

{% block content %}
{% for block in page.body %}
    {% include_block block %}
{% endfor %}

    <section class="switchable switchable--switch">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="  bg--primary box-shadow boxed boxed--border">
                    <div class="container">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>{{ event.title }}</h3>
                                <h4>{{ event.get_event_type_display }}</h4>
                                <hr>
                                <h4>{{ event.start_datetime|date:"F d, Y" }} &bull; {{ event.start_datetime|date:"P" }}</h4>
                                <p><b>Location:</b> {{ event.get_location_type_display }}<br></p>

                            </div>
                        </div>
                    </div>
                </div>
                <p>{{ event.description|safe }}</p>
                <p><a href="{{ event.url }}calendar/">Add to Calendar</a></p>
            </div>
            <div class="col-md-6 col-12">
                {% if registered == 'true' %}
                    <h3 style="font-weight:100">Thanks for registering!</h3>
                    <p><strong>What Happens Next</strong><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                {% else %}
                    {% if event.is_active %}
                        <form action="" method="post" class="row mx-0" data-recaptcha-sitekey="6LewhCIUAAAAACSwFvBDhgtTbw6EnW6e9dip8o2u">
                            <h3 style="font-weight:100">Register for Event</h3>

                            {% csrf_token %}

                            {% if form.errors %}
                                <div class="alert bg--error" style="width:100%">
                                    <div class="alert__body">
                                        <span>One or more fields have an error. Please check and try again.</span>
                                    </div>
                                    <div class="alert__close">×</div>
                                </div>
                            {% endif %}

                            {% for field in form %}
                                {% if field.name != 'event' %}
                                    <div class="col-md-12 col-12">
                                        <label>
                                            {{ field.label }}
                                            {% if field.field.required %}<span style="color:red;">*</span>{% endif %} 
                                            {% if field.errors %}<span style="color:red;">{% for error in field.errors %}{{ error }}{% endfor %}</span>{% endif %}
                                        </label>
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="event" value="{{ event.id }}">

                            <div class="col-md-12">
                                <div class="recaptcha"></div>
                            </div>

                            <div class="col-md-5 col-lg-4 col-6">
                                <button type="submit" class="btn btn--primary type--uppercase">Register</button>
                            </div>
                        </form>
                    {% else %}
                        <h4 style="font-weight:100">Sorry, registration for this event has ended.</h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}