{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% for abbr, state in states.items %}
        <section class="space--xxs">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h3>{{ state.name }}</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="space--xxs"}>
            <div class="container">
                <div class="row">
                {% for loc in state.locations %}

                    <div class="col-md-4">
                        <div class="feature ">
                            <h4>{{ loc.name }}</h4>
                            <p>
                                {{ loc.address_1}} {{ loc.address_2 }}<br/>
                                {{ loc.city }}, {{ loc.state.abbreviation }} {{ loc.postal_code }}<br/>
                                Phone: <a href="tel:{{ loc.phone_number }}">{{ loc.phone_number }}</a><br/>
                                Toll-Free: <a href="tel:{{ loc.tollfree_number }}">{{ loc.tollfree_number }}</a><br/>
                                Fax: <a href="tel:{{ loc.fax_number }}">{{ loc.fax_number }}</a>
                            </p>
                        </div>
                    </div>

                {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}
