{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags app_tags %}

{% block content %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% for news_item in page.news %}
        {% if page.news.number == 1 and forloop.counter == 1 %}
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="feature large-overlay imagebg border--round {% get_header_footer_field 'featured_event_bg_invert' %}" data-overlay="{% get_header_footer_field 'featured_event_bg_overlay' %}">
                                {% get_header_footer_field 'featured_news_bg' as featured_news_bg %}
                                {% if featured_news_bg %}
                                    {% image featured_news_bg original as image %}
                                    <div class="background-image-holder"><img src="{{ image.url }}" alt=""></div>
                                {% endif %}
                                <div>
                                    <h2>{{ news_item.title }}</h2>
                                    <h5>{{ news_item.news_datetime|date:'N j, Y' }}</h5>
                                    <p class="lead">{{ news_item.body|striptags|truncatechars:300 }}</p>
                                    <a href="{{ news_item.get_url }}" class="btn btn--primary">
                                        <span class="btn__text">View More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section class="space--xxs {% if not forloop.last %}mb-0 pb-0{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <span>{{ news_item.news_datetime|date:"N j, Y" }}</span>
                            <h3 style="margin-bottom:0;">
                                <a href="{{ news_item.get_url }}">{{ news_item.title }}</a>
                            </h3>
                            <p>{{ news_item.body|striptags|truncatechars:300 }}</p>
                            {% if not forloop.last %}<hr class="mb-0">{% endif %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    {% if page.news.paginator.num_pages > 1 %}
        <section class="space--xxs">
            <div class="container">
                <div class="pagination">
                    {% if page.news.has_previous %}
                        <a style="float:none;" href="?page={{ page.news.previous_page_number }}" class="pagination__prev">« Prev</a>
                    {% endif %}
                    
                    {% for page_num in page.news.paginator.page_range %}
                        <ol>
                            {% if page_num == page.news.number %}
                                <li class="pagination__current">{{ page_num }}</li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        </ol>
                    {% endfor %}

                    {% if page.news.has_next %}
                        <a style="float:none;" href="?page={{ page.news.next_page_number }}" class="pagination__next">Next »</a>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    {% for block in page.body_below %}
        {% include_block block %}
    {% endfor %}
{% endblock %}
