{% extends "base.html" %}

{% block body_class %}template-500{% endblock %}
{% block content %}
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="height-100 bg--primary text-center">
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h1--large">500 Server Error</h1>
                        <p class="lead">Something went wrong! Contact administrator</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
