<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrier Data</title>
</head>
<body>
    <h1>Carrier Data</h1>
    <ul>
{#    {% for carrier in carriers %}#}
{#        <li>#}
{#        <h3> {{ carrier.fields.name }}</h3> <br>#}
{#        <ul>#}
{#        {% for field, value in carrier.fields.items %}#}
{#            <li><strong>{{ field }}:</strong> {{ value }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#        </li>#}
{#    {% endfor %}#}
        {{ carriers }}
    </ul>
</body>
</html>